<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('rm_dummymodule')->__('Contact') ?></h1>
</div>

<form action="<?php echo $this->getUrl('dummy_module/index/new') ?>" id="contactForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('rm_dummymodule')->__('Contact Information') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="first_name" class="required"><em>*</em><?php echo Mage::helper('rm_dummymodule')->__('First Name') ?></label>
                    <div class="input-box">
                        <input name="first_name" id="first_name" title="" value="" class="input-text required-entry" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="second_name" class="required"><em>*</em><?php echo Mage::helper('rm_dummymodule')->__('Second Name') ?></label>
                    <div class="input-box">
                        <input name="second_name" id="second_name" title="" value="" class="input-text required-entry" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="email" class="required"><em>*</em><?php echo Mage::helper('rm_dummymodule')->__('Email') ?></label>
                    <div class="input-box">
                        <input name="email" id="email" title="" value="" class="input-text required-entry validate-email" type="text" />
                    </div>
                </div>
            </li>
            <li class="wide">
                <label for="message" class="required"><em>*</em><?php echo Mage::helper('rm_dummymodule')->__('Message') ?></label>
                <div class="input-box">
                    <textarea name="message" id="message" title="" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('rm_dummymodule')->__('* Required Fields') ?></p>
        <button type="submit" title="<?php echo Mage::helper('rm_dummymodule')->quoteEscape(Mage::helper('rm_dummymodule')->__('Submit')) ?>" class="button"><span><span><?php echo Mage::helper('rm_dummymodule')->__('Submit') ?></span></span></button>
    </div>
</form>

<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
    //]]>
</script>